header{
  background: white;
}

.costanza-header{
  background: #db4c5f;
  height: 100vh;
  animation: fade-in 0.2s ease-in-out;
}

.cityspace-header{
  background: #4a3bce;
  height: 100vh;
  animation: fade-in 0.4s ease-in-out;
}

.whatsInYourFridge-header{
  background: #a2ce3b;
  height: 100vh;
  animation: fade-in 0.4s ease-in-out;
}

.paperTetris-header{
  background: #a2ce3b;
  height: 100vh;
  animation: fade-in 0.4s ease-in-out;
}