.skills-wrapper{
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
}

.skills-content{
  padding: 3rem 2.5rem;
  background: rgba(225, 225, 225, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  width: 650px;
  height: 500px;
}

.skills-title{
  hr{
    margin: 10px 0px;
    width: 19%;
    height: 1px;
  background-color: black;
  }
}

h2{
  font-size: 30px;
  letter-spacing: 0.08em;
  margin: 0;
  text-transform: uppercase;
  font-family: Atkinson-Hyperlegible-Bold-102;
}