.skills-wrapper{
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
}

.skills-content{
  padding: 2rem 2.5rem 3rem;
  background: rgba(225, 225, 225, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  width: 650px;
  height: 600px;
}

.skills-title{
  hr{
    margin: 10px 0px;
    width: 19%;
    height: 1px;
  background-color: #4a4a4a;
  }
}

h2{
  font-size: 30px;
  letter-spacing: 0.08em;
  margin: 0;
  text-transform: uppercase;
  color: #4a4a4a;
  font-family: Atkinson-Hyperlegible-Bold-102;
}

.skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;

  .skill{
    width: 140px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    .icon{
      font-size: 50px;
      color: #4a4a4a;
    }
    p{
      margin-top: 5px;
      font-family: Atkinson-Hyperlegible-Regular-102;
    }
  }
}

@media (max-width: 759px){

  .skills-wrapper{
    position: relative;
    height: 100vh;
  }


  .skills-content{
    width: 450px;
    height: 500px;
  }


  .skills{
    .skill{
    width: 110px;
    height: 70px;
      .icon{
      font-size: 40px;
      color: #4a4a4a;
      }
    }
  }
}


