@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Playfair+Display&display=swap');
@import '_home.scss';
@import '_nav.scss';
@import '_skills.scss';

@font-face{
  font-family: Atkinson-Hyperlegible-Regular-102;
  src: url(fonts/Atkinson-Hyperlegible-Regular-102.ttf);
}

@font-face{
  font-family: Atkinson-Hyperlegible-Bold-102;
  src: url(fonts/Atkinson-Hyperlegible-Bold-102.ttf);
}

@font-face{
  font-family: Atkinson-Hyperlegible-Italic-102;
  src: url(fonts/Atkinson-Hyperlegible-Italic-102.ttf);
}

@font-face{
  font-family: Atkinson-Hyperlegible-BoldItalic-102;
  src: url(fonts/Atkinson-Hyperlegible-BoldItalic-102.ttf);
}

body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

a:focus, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.landingPage-wrapper{
  background: 20%/ 5em;
  background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
  transition: .8s ease-in-out;
  animation: change 4s ease-in-out infinite alternate;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.construction-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 350px;
  background: rgba(225, 225, 225, 0.1);
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(0,0,0,0.2);
  border-left: 1px solid rgba(0,0,0,0.2);
  animation: fade-in 1.2s ease;
  div{
    font-family: 'Cinzel', serif;
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
}

@keyframes change {
  0%{background-position:30% 0%}
  50%{background-position:51% 100%}
  100%{background-position:30% 0%}
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}